.button-gradient {
  border-radius: 0.3rem;
  background: linear-gradient(90deg, #f86f65 0%, var(--brand-pink) 100%);
  color: var(--white);
}

.button-gradient:disabled {
  background: var(--sonic-silver);
}
