$h-padding: 1.6rem;
$h-padding-dbl: $h-padding * 2;

.modal-overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100% - 3.2rem);
  min-width: 25rem;
  padding: 2.4rem $h-padding 3.2rem;
  font-size: 1.4rem;
  color: var(--white-smoke);
  background-color: var(--eerie-black);
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

  img {
    width: 100%;
    height: 100%;
  }

  .button-gradient {
    height: 4.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--bold);
  }
}

.modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: var(--semiBold);

  .btn-close {
    width: 2.4rem;
    height: 2.4rem;
    padding: 0;
    background-color: transparent;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  color: var(--white);
}

.modal-bottom {
  width: 100%;
}

// 라디오버튼 커스텀
.custom-radio {
  display: flex;
  align-items: center;
  cursor: pointer;

  input {
    display: none;
  }

  .radio-check {
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid var(--cool-gray);
    background-color: var(--white);
    border-radius: 50%;
    position: relative;
    transition: background 0.3s;

    &::after {
      content: '';
      width: 0.8rem;
      height: 0.8rem;
      background: var(--cool-gray);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  //체크된 경우
  input:checked + .radio-check {
    border-color: var(--brand-orange);

    &::after {
      background: var(--brand-orange);
    }
  }
}

//충전하기 모달
.charge-modal {
  margin-top: 2.4rem;
  width: calc(32.7rem - #{$h-padding-dbl});
  font-weight: var(--bold);
  line-height: 2.6rem;

  label {
    padding: 1.8rem 2rem;
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--white-smoke);
    border-radius: 0.8rem;

    &.active {
      border-color: var(--brand-orange);
    }

    &:not(:last-of-type) {
      margin-bottom: 0.8rem;
    }

    .img-credit-sm {
      margin-right: 0.4rem;
      width: 1.6rem;
      height: 1.6rem;
      position: relative;

      img {
        position: absolute;
        top: -0.6rem;
        left: 50%;
        transform: translateX(-50%);
        width: 2.4rem;
        height: 2.8rem;
      }
    }

    .charge-info {
      display: flex;
      flex-grow: 1;
      font-size: 2rem;
    }
  }

  .button-gradient {
    gap: 0.4rem;
    margin-top: 2.4rem;

    img {
      width: 1.3rem;
      height: 1.3rem;
    }
  }
}

//응원하기 모달
.donation-modal {
  margin-top: 2.4rem;
  width: calc(32.7rem - #{$h-padding-dbl});

  .card {
    width: 15.8rem;
    margin: 0 auto;

    .card-img {
      width: 100%;
      height: 20.6rem;
      border-radius: 0.8rem;
      overflow: hidden;

      img {
        object-fit: cover;
      }
    }

    p {
      padding: 0 0.2rem;

      &.card-sub {
        margin: 10px 0 6px;
        font-size: 1.2rem;
        line-height: 1.8rem;
        letter-spacing: -0.017rem;
        color: var(--white);
        opacity: 0.4;
      }

      &.card-tit {
        font-size: 1.4rem;
        font-weight: var(--medium);
        color: var(--white-smoke);
      }
    }
  }

  .donation-input {
    margin: 2.4rem 0;

    .input-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.8rem;
      padding: 1.6rem;
      border: 1px solid var(--white);
      border-radius: 0.8rem;
      background-color: #272f3d;

      &.error {
        border-color: #ff3b3b;
      }

      input {
        width: 100%;
        appearance: none;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        font: inherit;
        background: transparent;
        box-shadow: none;

        border-radius: 0.8rem;
        color: var(--white);
        font-weight: var(--bold);
        font-size: 2rem;
        line-height: 2.6rem;

        &::placeholder {
          color: var(--dim-gray);
        }
      }

      input[type='number'] {
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      img {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
    .input-error {
      margin-top: 0.6rem;
      font-size: 1.2rem;
      font-weight: var(--medium);
      color: #ff2626;
    }
  }
}

// 투표하기 모달
.vote-modal {
  margin-top: 2rem;
  width: calc(52.5rem - #{$h-padding-dbl});

  .vote-list {
    width: 100%;
    max-height: 43.5rem;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }

    label {
      padding-bottom: 0.8rem;
      margin-bottom: 0.8rem;
      justify-content: space-between;
      width: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      .vote-item {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        .vote-num {
          color: var(--brand-orange);
        }

        .vote-info {
          display: flex;
          flex-direction: column;
          gap: 0.4rem;

          .name {
            font-weight: var(--medium);
          }

          .count {
            display: flex;
            opacity: 0.6;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .button-gradient {
    margin-top: 2rem;
  }
  .desc {
    margin: 1.2rem 0 0;
    line-height: 2.6rem;
    font-weight: var(--medium);
    text-align: center;

    span {
      color: var(--brand-orange);
    }
  }
}

// 알림 모달
.alert-modal {
  margin-top: 0.8rem;
  width: calc(34.3rem - #{$h-padding-dbl});

  .img-credit-lg {
    width: 11.3rem;
    height: 11.3rem;
    position: relative;

    img {
      position: absolute;
      top: -52px;
      left: 50%;
      transform: translateX(-50%);
      width: 18.3rem;
      height: 21.7rem;
    }
  }

  .desc {
    margin: 3.1rem 0;
    line-height: 2.6rem;
    font-size: 1.6rem;
    font-weight: var(--medium);

    span {
      color: var(--brand-orange);
    }
  }
}

@media (max-width: 557px) {
  .modal:has(.mobile-full) {
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 6.4rem 2.4rem 10rem;
    top: 0;
    left: unset;
    transform: none;
    background-color: var(--rich-black);

    .modal-top {
      position: relative;
      justify-content: center;
      font-size: 1.4rem;
      font-weight: var(--medium);

      .btn-close {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: url(../../assets/icons/ic_arrow_left.svg) no-repeat center;
        background-size: contain;

        img {
          display: none;
        }
      }
    }

    .modal-bottom {
      position: absolute;
      bottom: 0;
      padding: 1.6rem 2.4rem;
      background-color: rgba(2, 0, 14, 0.8);
    }

    .button-gradient {
      margin: 0;
      width: 100%;
    }

    .vote-modal {
      margin-top: 3rem;
      width: 100%;

      .vote-list {
        padding-bottom: 106px;
        max-height: 60rem;
      }
    }
  }
}
