.nav {
  top: 0;
  position: sticky;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  background-color: var(--rich-black);
  .button-containter {
    display: flex;
    position: relative;
    max-width: 120rem;
    justify-content: center;
    align-items: center;
    background-color: var(--rich-black);
    width: 100%;
    margin: 0 auto;
    .nav-logo-btn {
      border: none;
      width: 16.8rem;
      height: 3.2rem;
      background: none;
      &:hover {
        cursor: pointer;
      }
    }
    .moving-mypage-button {
      position: absolute;
      right: 0;
      border: none;
      outline: none;
      background-color: inherit;
      &:hover {
        cursor: pointer;
      }
      .nav-profile-img {
        width: auto;
        height: auto;
        border-radius: 12.5rem;
        background-color: #2c2626;
      }
    }
  }
}

@media (max-width: 1200px) {
  /*tablet*/
  .nav {
    padding-right: 2.5rem;
  }
}

@media (max-width: 744px) {
  /*tablet*/
  .nav {
    padding-right: 2.4rem;
  }
}
