@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

:root {
  /* Color-Variables*/
  --black: #000;
  --rich-black: #02000e;
  --eerie-black: #181d26;
  --dim-gray: #67666e;
  --sonic-silver: #828282;
  --cool-gray: #8c92ab;
  --smoky-gray: #a3a5a8;
  --white: #fff;
  --white-smoke: #f7f7f8;

  /* Brand-Color-Variables */
  --brand-orange: #f96d69;
  --brand-pink: #fe5493;

  /* Font-Weight */
  --normal: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Pretendard';
}

html {
  /* 브라우저 폰트 사이즈 16px * 0.625 = 10px */
  font-size: 62.5%;
}

body {
  /* 1rem = html의 폰트 사이즈 */
  font-size: 1rem;
  /* 기본 배경색 rich-black으로 통일 */
  background-color: var(--rich-black);
}

button {
  border: 0;
  cursor: pointer;
}

button:disabled {
  cursor: not-allow;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}

img {
  object-fit: cover;
}
